#main-header {
    background: #8A2BE2;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.titulo {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    top: 30px;
    font-style: italic;
    text-shadow: 3px 3px red;
    transform: rotate(-5deg);
    font-size: 50px;
}

.cidade-fundo {
    width: 100%;
}
